.skills-container {
  width: 80vw;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
      font-size: 3rem;
      line-height: 20px;
      @include media(">=phone", "<lgphone") {
        font-size: 1.5rem;
        text-align: center;
        width: 100%;
      }
      @include media(">=lgphone", "<tablet") {
        font-size: 1.5rem;
        text-align: center;
        width: 100%;
      }
      @include media(">=tablet", "<desktop") {
        font-size: 2.5rem;
        text-align: center;
      }
    }
  .skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 50px;
    @include media(">=phone", "<lgphone") {
      grid-template-columns: 1fr;
    }
    @include media(">=lgphone", "<tablet") {
      grid-template-columns: 1fr;
    }
    @include media(">=tablet", "<desktop") {
      grid-template-columns: 1fr 1fr;
    }
  .skill {
    display: flex;
    flex-direction: column;
    padding-right:5rem;
    padding-left: 5rem;
    align-items: center;
    text-align: center;
      img {
        height: 4rem;
      }
      p {
        @include media(">=phone", "<lgphone") {
          font-size: 12px;
          width: 100%;
        }
        @include media(">=lgphone", "<tablet") {
          font-size: 12px;
          width: 100%;
        }
        @include media(">=tablet", "<desktop") {
          text-align: center;
          font-size: 14px;
          width: 100%;
        }
      }
    }
  }
}
